<main class="h-full flex flex-col justify-center items-center select-none">
  <section>
    <h1 class="text-3xl font-bold">Login</h1>
    <p class="opacity-[0.65] mb-2">Welcome back, login now to proceed!</p>
    <form class="flex flex-col gap-3">
      <div class="flex flex-col gap-2">
        <label for="username" class="opacity-[0.90]">Username</label>
        <input pInputText type="text" id="username" placeholder="nerdydaemon10">
      </div>
      <div class="flex flex-col justify-start gap-2">
        <label for="password" class="opacity-[0.90]">Password</label>
        <input pInputText type="text" id="password" placeholder="******">
      </div>
      <p-button fluid>Login</p-button>
    </form>
    <app-divider text="OR" />
    <p-button severity="secondary" fluid>Create an account</p-button>
  </section>
</main>