<header class="flex flex-row justify-between items-center border-b border-surface px-6 py-3">
  <a href="#" class="text-lg text-color font-semibold">
    <span class="size-1 px-2 py-1.5 bg-primary shadow-md rounded text-white me-1">
      <i class='bx bx-note'></i>
    </span>
    Todo App
  </a>
  <div class="flex flex-row items-center">
    <div class="flex flex-row gap-2">
      <p-button 
        icon="bx bx-search" 
        severity="secondary" 
        outlined="true" 
        rounded="true"
      ></p-button>
      <p-button 
        icon="bx bx-sun" 
        severity="secondary" 
        outlined="true" 
        rounded="true"
      ></p-button>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="flex flex-row items-center gap-4">
      <div class="text-right">
        <h1 class="text-md text-color font-medium">Keanno Manuel</h1>
        <p class="text-sm text-muted-color">keannoregino10</p>
      </div>
      <p-avatar 
        label="KR" 
        size="large"
        shape="circle"
        class="cursor-pointer hover:ring-2 hover:ring-offset-2"
        (click)="menu.toggle($event)"
      />
    </div>
    <p-menu #menu [model]="items" [popup]="true" />
  </div>
</header>